{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ item.food_name }} <small class="text-muted">Last updated {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} PST.</small></h3>
      <hr>
      <p>{{ item.description|linebreaksbr }}</p>
      <hr>
      {% if item.author == user%}
      <a href="{% url 'item-update-page' item.slug %}" style="margin-right:10px;">Update</a>
      <a href="{% url 'item-delete-page' item.slug %}" style="margin-right:10px;">Delete</a>
      {% endif %}
      <a href="{% url 'item-list-page' %}">Back to List</a>
    </div>
  </div>
{% endblock %}